body {
	background-color: #252830;
	font-family: 'Montserrat', sans-serif;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Acme', sans-serif;
}

.headline {
	color: white;
}

.card {
	margin: 20px 0;
}